@import "tailwindcss";
@plugin 'tailwind-scrollbar' {
    nocompatible: true;
}

@theme {
    --color-tvg-blue-50: #ECF7FA;
    --color-tvg-blue-100: #D8EEF4;
    --color-tvg-blue-200: #B1DCE8;
    --color-tvg-blue-500: #3AA7C6;
    --color-tvg-blue-600: #2E869F;
    --color-tvg-blue-700: #236577;
    --color-tvg-blue-800: #174350;
    --color-tvg-blue-900: #0C2228;
    --color-tvg-gray: #79888e;
    --color-tvg-purple: #9E39C6;
    --color-button: #C63961;
    --color-button-hover: #9E2E4E;

    --font-display: "Helvetica", sans-serif;
}


@font-face {
    font-family: "Helvetica";
    src: url("../font/Helvetica.woff2") format("woff2"),
    url("../font/Helvetica.ttf") format("truetype");
    font-display: swap;
}